//colors
$secondary: #cecece;

// fonts
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
$family-primary: Montserrat, sans-serif;

// Bulma colors
$primary: #2d2d2d;
$primary-invert: findColorInvert($primary);
$colors: ('primary': ($primary, $primary-invert));

$link: $white;
$link-hover: $secondary;



//Footer
$footer-background-color: #fff;
$footer-padding: 3rem;
$footer-color: true;

//Navbar
$navbar-background-color: transparent;
$navbar-item-hover-color: $secondary;
$navbar-item-hover-background-color: transparent;
$navbar-height: 7.5rem;

//Hero
$hero-body-padding:0rem !important;
$hero-body-padding-small:0rem !important;
$hero-body-padding-medium:0rem !important;
$hero-body-padding-large:0rem !important;

//Input
$input-border-color: $secondary;
$input-focus-border-color: $primary;
$input-arrow: $secondary;
$input-focus-border-color: $primary;