@import '~bulma/sass/utilities/initial-variables';
@import '~bulma/sass/utilities/functions';

@import "./scss/variables";

/*
.title {
    font-family: $family-primary;
    font-weight: 700;
}
*/

@import '~bulma';